@import "../../SCSS/themes.scss";

.ProductPage {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    height: 80vh;

    &_Photo {
        width: 50%;

        &_Img {
            width: 110%;
        }
    }

    &_Info {
        padding-top: 40px;
        width: 35%;

        &_Title {
            color: $main-colour;
        }

        &_Block {
            width: 70px;
            height: 2px;
            background-color: $main-colour;
        }

        &_Price {
            padding-top: 20px;
            font-weight: 800;
            font-style: italic;
        }
        
        &_Desc {
            padding-top: 50px;
        }

        &_Label {
            margin-top: 30px;
        }

        &_Colours {
            display: block;
        }

        &_CartBtn {
            background-color: $main-colour;
            padding: 10px;
            margin-top: 10px;
            border-radius: 3px;

            &:hover {
                background-color: $header-link-colour;
                transition: 0.3s ease-in-out;
            }
        }
    }
}

.Specs {
    text-align: center;
    color: $main-colour;
    margin: 40px 0px;
    
    &_Header {
        width: 50%;
        text-align: center;
        margin: 0px auto;
        background-color: $main-colour;
        color: white;
        padding: 10px;
        border-collapse: collapse;
    }

    &_Table {
        width: 50%;
        text-align: center;
        margin: 0px auto 10px;
        border: 4px solid $main-colour;
        border-radius: 5px;
        font-size: 1.5rem;
        border-collapse: collapse;

        tr:nth-child(even){
            background-color: #f2f2f2;
        }
        td {
            padding: 20px;
        }
        td:nth-child(odd){
            font-weight: 600;
            border-right: 2px solid $main-colour;
            width: 50%;
        }
        
    }
}